* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.profile-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 100%;
  max-width: 350px;
}

.profile-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #2980b9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.profile-card img:hover {
  transform: scale(1.1);
}

/* Name & Job */
.profile-name-job-describtion {
  background: #34495e;
  padding: 0 2px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.profile-name-job-describtion h2 {
  font-size: 24px;
  color: #ecf0f1;
  padding: 3px;
}

.profile-name-job-describtion h4 {
  font-size: 18px;
  color: #f1c40f;
  font-weight: normal;
}

.profile-name-job-describtion:hover {
  transform: scale(1.05);
}

.profile-bio p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 0 10px;
  color: #2c3e50;
  font-size: 14px;
  margin-bottom: 15px;
}

.currentLocation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecf0f1; /* Light grey background */
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #2c3e50; /* Dark grey text */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 10px auto;
  margin-bottom: 15px;
}

.currentLocation p {
  margin: 0;
  font-size: 14px;
  color: #2980b9; /* Blue color */
  font-weight: bold;
}

.emailAddress {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecf0f1;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #2c3e50;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 10px auto;
}

.emailAddress p {
  margin: 0;
  font-size: 14px;
  color: #2c3e50;
  font-weight: 500;
}

.emailAddress a {
  color: #d14836;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.emailAddress a:hover {
  color: #c0392b; /* Darker red on hover */
  text-decoration: underline;
}

.email a {
  color: #e74c3c;
  text-decoration: none;
  font-weight: bold;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2980b9;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.1);
  background-color: #1abc9c;
}

.footer {
  margin-top: 15px;
  font-size: 12px;
  color: #95a5a6;
}
